@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Montserrat:300,400,500,700,900");
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #1b1c2c;
}
html{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: var(--clr);
}
.navigation {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26283e;
  z-index: 3;
}
.navigation ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 170px;
  height: 50px;
  z-index: 1;
  display: flex;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}
.navigation ul li a .text {
  font-size: 20px;
  letter-spacing: 0.05em;
  color: white;
  font-weight: 500;
  transition: all 0.5s ease;
}
.navigation ul li.active a .text {
  color: #ffbb72;
}

.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 20px;
}
.line{
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.5s ease;
}

.main-page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
overflow: hidden;
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
.main-page h1{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: right;
  width: 70%;
  color: white;
  padding-right: 50px;
}
.main-page .ball-img{
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: 50px;
  z-index: 3;
}
.main-page .ball-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}
.main-page .heading{
  display: none;
  position: absolute;
  left: 5%;
  z-index: 4;
  top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #febb75;
}
.arrow-div{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow p{ color: rgb(255, 182, 182);}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media only screen and (min-width: 1300px){
  .main-page .ball-img img{
  animation: load 1.5s ease-in-out;}
}
@keyframes load {
  from{
    transform: scale(10);
    rotate: 0deg;
  }
  to{
    rotate: -360deg;
    transform: scale(1);
  }
}

.turf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #464971;
  scroll-margin-top: 100px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.title{
  margin: 50px;
}
.title h1{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s;
  border-radius: 5px;
  background: #3b3e64;
  box-shadow:  1px 1px 4px rgb(0, 0, 0);
}
.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.turf-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #f5f5f5;
}

.price {
  color: #000;
  font-size: 16px;
  margin-bottom: 12px;
  color: #f5f5f5;
}

.book-now-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6a7196;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-now-btn:hover {
  background-color: #2a2a42;
}

.more-link{
  text-align: center;
  margin: 20px;
}
.more-link a,.more-link p{
  text-decoration: none;
  color: rgb(242, 213, 213);
  font-size: 20px;
  margin: 10px;
  transition: all 0.5s ease;
}
.more-link a:hover,.more-link p:hover{
  color: #febb75;
}

.aboutus-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: 100px;
  padding: 50px 0;
  box-sizing: border-box; 
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.aboutus-container h1 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 20px 0; /* Adjusted margin for responsiveness */
}

.aboutus-container .about-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Adjusted spacing between sections */
  flex-wrap: wrap;
  width: 80%;
  margin: 10px;
}

.about-desc section {
  flex: 1;
  margin: 20px;
  padding: 20px;
  color: #f5f5f5;
}
.about-desc section p{
  line-height: 40px;
}

.about-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center align content */
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #febb75;
}

.about-city h3 {
  font-size: 20px;
  color: black;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 30px;
}

.about-city .city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  font-size: 30px;
  margin-bottom: 20px;
  align-items: center;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .aboutus-container .about-desc {
    flex-direction: column;
  }
}


.contactus {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: 100px;
  background-color: #8b93be;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contact-title {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactus h1 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 50px;
}

.contactus p {
  font-size: 17px;
  width: 70%; /* Adjusted width for responsiveness */
  text-align: center;
}

.contactus .contact-form {
  width: 80%; /* Adjusted width for responsiveness */
}

.contactus .contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  margin: 10px;
}

input,
textarea {
  outline: none;
  font-size: 16px;
  padding: 8px;
  width: 70%;
  color: white;
  margin: 5px 0;
  transition: all 0.4s ease;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  resize: none;
}

.contact-form form button {
  width: 30%; /* Full width */
  padding: 10px;
  margin: 20px 0; /* Adjusted margin for responsiveness */
  background-color: #383859;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form form button:hover {
  background-color: #2a2a42;
}


.footer {
  width: 100%;
  background-color: black;
  padding: 50px;
  color: #fff;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer-company {
  flex: 1;
  max-width: 400px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links,
.footer-contact {
  flex: 1;
  max-width: 300px;
}

.links h3 {
  font-size: 25px;
}

.links ul {
  list-style: none;
  padding: 0;
}
.links ul li a{
  text-decoration: none;
  color: rgb(242, 213, 213);
  font-size: 18px;
  transition: all 0.3s ease;
}
.links ul li a:hover{
  color: #febb75;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-contact h3{
  font-size: 25px;
}
.footer-contact ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

.footer-contact a,ul li span{
  color: rgb(242, 213, 213);
  text-decoration: none;
  font-weight: lighter;
}
.copyright{
  text-align: center;
  margin: 30px;
  margin-top: 100px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    /* align-items: center; */
  }

  .footer-company,
  .links,
  .footer-contact {
    margin-bottom: 20px;
  }
}


/* RESPONSIVE */
@media only screen and (max-width:1200px){
  .navigation {
    height: auto;
    height: 440px;
    transition: all 0.5s ease-out;
  }
  .navigation ul{
    flex-direction: column;
    transition: all 0.4s ease-out;
  }
  .indicator {
    display: none;
    z-index: -1;
  }
  .burger{
    display: block;
  }
  .v-class{
    opacity: 0;
  }
  .h-class{
    height: 70px;
  }
  .main-page{
    background: url(/img/ball.png) no-repeat;
    background-size: 1200px 1200px;
  }
  .main-page h1{
    font-size: 50px;
    padding-right: 0;
  }
  .main-page .ball-img{
    display: none;
  }
  .main-page .heading{
    display: block;
    position: fixed;
  }
  .about-desc section{
    margin: 10px;
  }
  .about-city .city{
    flex-direction: column;
    gap: 20px;
  }
  .turf{
    scroll-margin-top: 70px;
  }
  .aboutus-container{
    scroll-margin-top: 70px;
  }
  .contactus{
    scroll-margin-top: 70px;
  }
}