@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Montserrat:300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',Helvetica;
}
body {
  background-color: #000;
}
.background{
  background: url(/img/ball-blur.png) no-repeat;
  background-size: contain;
  height: 100vh;
}
.heading h1{
  padding: 30px 0 5px 60px;
  color:white;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: 'Montserrat';
}
.box {
  margin: auto;
  width:30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #4341415c;
  backdrop-filter: grayscale(100%) blur(4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .login-box {
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-box h1 {
  color: white;
  letter-spacing: 3px;
  margin-top: 20px;
}
.login-box .form-title {
  margin-bottom: 30px;
}
.login-box .form-group {
  width: 70%;
  margin: 10px 0;
}
input[type="number"]{
  background-color: transparent;
  outline: none;
  font-size: 22px;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  color: white;
  border: white 1px solid;
  margin: 5px 0;
  transition: all 0.4s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  border: solid 1px red;
  background-color: #00000045;
}
.form-group label {
  font-size: 20px;
  color: white;
}
.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.btn button {
  background-color: red;
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}
.btn button:hover {
  background-color: rgb(199, 0, 0);
  cursor: pointer;
}
.btn button:active {
  transform: scale(0.9);
}
.footer{
  position: fixed;
  text-align: right;
  color: white;
  font-size: 15px;
  padding: 5px 10px 0px 0px;
  bottom: 0;
  right:0;
  margin-bottom: 30px;
  background-color: transparent;
}
p span{
  color: rgb(210, 0, 0);
  font-size: 15px;
  font-weight: 700;
}

/* responsive */
