@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Montserrat:300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',Helvetica;
  transition: 0.3s ease-out;
}
body {
  background-color: #000;
}
.heading h1{
  padding: 30px 0 5px 60px;
  color:white;
  letter-spacing: 3px;
  font-size: 40px;
  font-family: 'Montserrat';
}
.box {
  margin: auto;
  width:40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #43414150;
  box-shadow: 0px 0px 10px 0px white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

.box .login-box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-box h1 {
  color: white;
  letter-spacing: 3px;
  margin-top: 20px;
}
.login-box .form-title {
  margin-bottom: 30px;
}
.login-box .form-group {
  width: 70%;
  margin: 10px 0;
}
input[type="number"],input[type="email"]{
  background-color: transparent;
  outline: none;
  font-size: 22px;
  padding: 8px;
  border-radius: 10px;
  width: 99%;
  color: white;
  border: white 1px solid;
  margin: 5px 0;
  transition: all 0.4s ease;
}
input:focus {
  border: solid 1px red;
  background-color: #00000045;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-group label {
  font-size: 20px;
  color: white;
}
.checkbox {
  margin: 7px 0;
  width: 70%;
}
.checkbox .form-group {
  width: 100%;
}
.checkbox .form-group label {
  font-size: 15px;
}
.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.btn button {
  background-color: red;
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}
.btn button:hover {
  background-color: rgb(199, 0, 0);
  cursor: pointer;
}
.btn button:active {
  transform: scale(0.9);
}
.external{
  margin: 20px;
}
.google-btn button,.email-btn button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: inherit;
}
.google-btn,.email-btn {
  width: 250px;
  height: 50px;
  border-radius: 100px;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,.25);
  margin: 15px 0 15px 0;
  transition: all 0.3s ease;
}
.google-icon-wrapper {
    position: absolute;
  }
  .google-icon {
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 5px 6px;
  }
  .btn-text {
    float: right;
    margin: 11px 10px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
  .google-btn:hover{
    background-color: rgba(255, 86, 86, 0.197);
    cursor: pointer;
  }
  .email-btn:hover{
    background-color: rgba(255, 255, 255, 0.269);
    cursor: pointer;
  }
  .google-btn:active,.email-btn:active{
    transform: scale(0.9);
  }
hr{
  border: solid 1px white;
  width: 50%;
  margin: 10px;
}
.footer{
  position: fixed;
  text-align: right;
  color: white;
  font-size: 15px;
  padding: 5px 10px 0px 0px;
  bottom: 0;
  right:0;
  margin-bottom: 30px;
  background-color: transparent;
}
p span{
  color: rgb(210, 0, 0);
  font-size: 15px;
  font-weight: 700;
}

/* responsive */
/* Mobile Phones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .box {
    width: 80%;
  }

  .login-box {
    width: 90%;
  }

  .form-group {
    width: 90%;
  }

  .checkbox {
    width: 90%;
  }

  .btn button {
    width: 110%;
  }

  hr {
    width: 70%;
  }
}

/* Small Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .box {
    width: 70%;
  }

  .login-box {
    width: 80%;
  }

  .form-group {
    width: 80%;
  }

  .checkbox {
    width: 80%;
  }

  .btn button {
    width: 110%;
  }

  hr {
    width: 60%;
  }
}

/* Large Tablets and Small Desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  .box {
    width: 60%;
  }

  .login-box {
    width: 70%;
  }

  .form-group {
    width: 70%;
  }

  .checkbox {
    width: 70%;
  }

  .btn button {
    width: 110%;
  }

  hr {
    width: 50%;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px;
  }

  .box {
    width: 40%;
  }

  .login-box {
    width: 50%;
  }

  .form-group {
    width: 60%;
  }

  .checkbox {
    width: 60%;
  }

  .btn button {
    width:200px;
  }

  hr {
    width: 40%;
  }
}



/* --------------------------------- */

.emailLogin{
  display: none;
  color: white;
}
.text-wrapper{
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.text-wrapper p{
  font-size: 20px;
  font-style: italic;
}
.text-wrapper:hover{
  cursor: pointer;
  color: rgb(72, 164, 255);
}