@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Montserrat:300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',Helvetica;
}
.heading h1{
  padding: 30px 0 5px 60px;
  color:#41c9a9;
  letter-spacing: 3px;
  font-size: 40px;
  font-family: 'Montserrat';
}
.box {
  margin: auto;
  width:40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 10px 0px #00000045;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

.box .login-box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-box h1 {
  color: #333;
  letter-spacing: 3px;
  margin-top: 20px;
}
.login-box .form-title {
  margin-bottom: 30px;
}
.login-box .form-group {
  width: 70%;
  margin: 10px 0;
}
input[type="number"],input[type="email"]{
  outline: none;
  font-size: 22px;
  padding: 8px;
  width: 99%;
  color: black;
  margin: 5px 0;
  transition: all 0.4s ease;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
}
input:focus {
  background-color: #41c9a93a;
  border-radius: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-group label {
  font-size: 20px;
  color: #333;
}
.checkbox {
  margin: 7px 0;
  width: 70%;
}
.checkbox .form-group {
  width: 100%;
}
.checkbox .form-group label {
  font-size: 15px;
}
.login-button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.login-button button {
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: #000000;
  outline: none;
  border: none;
  border-radius: 10px;
background: #b9b9b9;
  transition: all 0.3s ease-out;
}
.login-button button:hover {
  background-color: #5da292;
  color: white;
  cursor: pointer;
}
.login-button button:active {
  transform: scale(0.94);
}
.external{
  margin: 20px;
}
.google-btn button,.email-btn button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: inherit;
}
.google-btn,.email-btn {
  width: 250px;
  height: 50px;
  border-radius: 100px;
  margin: 15px 0 15px 0;
  transition: all 0.2s ease;
  color: #cd5f5f;
  border-radius: 15px;
  background-color: #f1cbc9;
}
.google-icon-wrapper {
  position: absolute;
}

.google-icon {
  font-size: 35px;
  margin: 7px 6px;
  margin-left: 10px;
}

.btn-text {
  float: right;
  margin: 14px 10px;
  color: #cd5f5f;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.google-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.email-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.google-btn:active, .email-btn:active {
  box-shadow: inset 6px 6px 14px #0b0b12,
  inset -6px -6px 14px #2b2d46;
}

hr{
  border: solid 1px rgb(81, 81, 81) !important;
  margin: 10px;
}
.footer{
  position: fixed;
  text-align: right;
  color: black;
  font-size: 15px;
  padding: 5px 10px 0px 0px;
  bottom: 0;
  right:0;
  margin-bottom: 30px;
  background-color: transparent;
}
p span{
  color: #41c9a9;
  font-size: 15px;
  font-weight: 700;
}

/* responsive */
/* Mobile Phones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .box {
    width: 80%;
  }

  .login-box {
    width: 90%;
  }

  .form-group {
    width: 90%;
  }

  .checkbox {
    width: 90%;
  }

  .btn button {
    width: 110%;
  }

  hr {
    width: 70%;
  }
}

/* Small Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .box {
    width: 70%;
  }

  .login-box {
    width: 80%;
  }

  .form-group {
    width: 80%;
  }

  .checkbox {
    width: 80%;
  }

  .btn button {
    width: 110%;
  }

  hr {
    width: 60%;
  }
}

/* Large Tablets and Small Desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  .box {
    width: 60%;
  }

  .login-box {
    width: 70%;
  }

  .form-group {
    width: 70%;
  }

  .checkbox {
    width: 70%;
  }

  .btn button {
    width: 110%;
  }

  hr {
    width: 50%;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px;
  }

  .box {
    width: 40%;
  }

  .login-box {
    width: 50%;
  }

  .form-group {
    width: 60%;
  }

  .checkbox {
    width: 60%;
  }

  .btn button {
    width:200px;
  }

  hr {
    width: 40%;
  }
}



/* --------------------------------- */

.emailLogin{
  display: none;
  color: white;
}
.text-wrapper{
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.text-wrapper p{
  font-size: 20px;
  font-style: italic;
}
.text-wrapper:hover{
  cursor: pointer;
  color: rgb(72, 164, 255);
}