@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Montserrat:300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' !important;
}
body {
  min-height: 100vh;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-left,
.w3-right{
    background-color: black;
    width: 25px;
    border-radius: 30%;
}
.w3-badge {
  height: 18px;
  width: 13px;
  padding: 0;
}
.w3-display-container{
    width: 100% !important;
    height: 500px !important;
}


.path-navigation {
    display: flex;
    align-items: center;
    color: #A0AEC0; /* Set your desired text color */
    font-size: 0.875rem; /* Set your desired font size */
    margin-top: 20px;
  }
  
  .path-navigation a {
    text-decoration: none;
    color: #A0AEC0; /* Set your desired link color */
    transition: color 0.3s ease-in-out;
  }
  
  .path-navigation a:hover {
    color: #4299E1; /* Set your desired hover color */
    text-decoration: underline;
  }
  
  .path-separator {
    margin: 0 0.5rem; /* Set the desired spacing between the elements */
  }
  

.mySlides {
  display: none;
  border: 3px solid white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.turf .slider img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 20px;
}
.turf .slider{
    display: flex;
    flex-direction: column;
    margin-top: -128px;
}
.turf .slider h1{
    font-size: 50px;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.turf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    flex-wrap: wrap;
}
.turf .turf-details{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 142px;
}
.turf-details .book-btn{
    /* padding: 10px; */
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}
.book-btn .book-now{
    background-color: #4eaaec;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.447);
}
.book-btn .book-now:hover{
    background-color: #4299E1;
}
.book-btn .book-now:active{
    box-shadow: none;
    transform: translate(3px,3px);
}
.turf .row{
    background-color: #f5f5f5;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin: 10px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.447);
}
.row h3{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}
.turf-details .turf-data-normal{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.pricing .price-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.turf-desc-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 30px;
    margin-top: 60px;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.447);
}
.turf-desc-wrapper .turf-desc{
    padding: 20px;
}
.turf-desc h3{
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .turf{
        flex-direction: column;
        padding-top: 20vh;
    }
    .slider .path-navigation{
      margin-left: 10px;
    }
    .slider .turf-title h1{
      font-size: 30px;
      margin-left: 10px;
    }
    .w3-display-container{
        height: 300px !important;
        width: 99% !important;
    }
  
    .turf .turf-details{
      width: 100%;
      margin-top: 10px;
    }
    .turf-details .row{
      margin: 10px;
    }
    .turf-desc-wrapper{
        flex-direction: column;
        width: 90%;
    }
    .turf-desc-wrapper .maps iframe{
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
  
    .pricing .price-wrap {
      flex-direction: row;
    }
  }
  
  /* Responsive styles for tablet screens */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .turf{
      flex-direction: column;
      padding-top: 30vh;
  }
  .slider .path-navigation{
    margin-left: 10px;
  }
  .slider .turf-title h1{
    margin-left: 10px;
  }
  .w3-display-container{
      height: 100% !important;
      width: 99% !important;
  }

  .turf .turf-details{
    width: 90%;
    margin-top: 10px;
  }
  .turf-details .row{
    margin: 10px;
  }
  .turf-desc-wrapper{
      flex-direction: column;
      width: 90%;
  }
  .turf-desc-wrapper .maps iframe{
      width: 100%;
      height: 300px;
      border-radius: 20px;
  }

  .pricing .price-wrap {
    flex-direction: row;
  }
}

#overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 2;
}


/* Popup container */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.modal-content{
  background-color: #f5f5f5;
  margin: 10% auto;
  padding: 20px;
  border-radius: 15px;
} 
.modal-content .close{
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  margin-top: -15px;
  cursor: pointer;
}
.modal-content h1{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.modal .dt{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.modal-content label{
  font-size: 20px;
  font-weight: 500;
}
.modal-content p{
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}
.modal-content .button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-content button{
  background-color: #4eaaec;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin: auto 10px;
  width: 30%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.447);
}

@media screen and (max-width: 767px) {
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width for larger screens */
}

.modal-content {
  background-color: #f5f5f5;
  margin: 10% auto;
  padding: 20px;
  border-radius: 15px;
}

.modal-content .close {
  font-size: 24px;
}

.modal-content h1 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.modal .dt {
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-content label {
  font-size: 18px;
}

.modal-content p {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.modal-content .button-wrapper {
  flex-direction: column;
}

.modal-content button {
  font-size: 16px;
  margin: 10px 0;
  width: 80%; /* Adjust width for larger screens */
}
}

/* Responsive styles */
@media screen and (min-width: 600px) {
  .modal {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 50%;
  }
}
