@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Montserrat:300,400,500,700,900");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    min-height: 100vh;
}
  
.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* Automatic Slider Animation */
  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + .slides {
    animation: slideAnimation 6s infinite; /* Adjust the duration as needed */
  }
  