.navbar .container {
  width: 100%;
  margin: auto;
}
nav{
  z-index: 5;
}

.navbar {
  width: 100%;
  /* position: fixed; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
    text-shadow: 0 0 10px #fff;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 40px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 40px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 18%;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.4s cubic-bezier(.41,.15,.72,1.36);
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

#bb {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.311);
  backdrop-filter: blur(10px);
  transition: opacity 0.5s ease;
  opacity: 0; /* Start with opacity set to 0 */
  z-index: 0;
}

/* 
___________________
LINE ANIMATION     |
___________________| 
*/

.animated-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  z-index: -1;
  margin-top: 250px;
  animation: moveLine1 9s linear infinite;
}
.vertical-line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #fff; /* Change the color if desired */
  animation: moveVertical 12s linear infinite;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  margin-left: 1000px;
  z-index: -1;
}

@keyframes moveLine1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}


