body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
}

#circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle {
    position: absolute;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.particle {
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: particleAnimation 2s linear infinite;
}

@keyframes particleAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}
